* {
  margin:0;
  padding: 0;
}

body {
  background-color: grey;
    font-family: 'Abril Fatface';
}

.text-animation {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.text-animation li {
  display: inline-block;
  margin-right: 50px;
  font-size: 5em;
  opacity: 1;
  transition: all 2.5s ease;
}

.text-animation li:last-child {
  margin-right: 0;
}

.text-animation.hidden li {
  opacity: 0;
}

.text-animation.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.text-animation.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.text-animation.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.text-animation.hidden li:nth-child(4) { transform: translateX(10px) translateY(-20px); }
.text-animation.hidded li:nth-child(5) { transform: translateX(10px) translateY(200px); }
.text-animation.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.text-animation.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.text-animation.hidden li:nth-child(8) { transform: translateX(150px) translateY(80px); }
.text-animation.hidden li:nth-child(9) { transform: translateX(260px) translateY(-240px); } 


